// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$primaryColor: rgba(var(--v-theme-primary));
$secondaryColor: rgba(var(--v-theme-secondary));
// $bg: rgba(var(--v-theme-bg));
