// Typography

$font-family-sans-serif: "Futura", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$primaryColor: rgba(var(--v-theme-primary));
$secondaryColor: rgba(var(--v-theme-secondary));
// $bg: rgba(var(--v-theme-bg));

// $body-font-family: "Futura", sans-serif;
// $font-size-root: 18px;

// @import "~vuetify/src/styles/styles.sass";
